
header{
    width: 100%;
    height: auto;
    text-align: center; 
    align-items: center;
    background-color: rgb(39, 39, 39);
    color: rgb(179, 174, 174); 
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 1%;
}
nav{
    padding: 1%;
}
button{
    color: black;
    background-color: gray;
    font-weight: 600;
    margin: 1%;
}
.btn-close {
    background-color: rgb(41, 40, 43);
    color: black;
    font-weight: 900;
}

